<!DOCTYPE html>
<html>
<head>
  <style>
    h1 {
      color: green;
    }
  </style>
</head>
<body>
  <h1 id ="hi">Hello, World!</h1>
  <p id="dj"> </p>
  <!-- <button onclick="alert('Button clicked!')">Click me</button> -->

 <button type="button" onclick="document.getElementById('hi').innerHTML='hello javascript'"> click me </button> 

 <button type="button" onclick="myfuctiom()">press me</button>
 <p id="demo">js</p>
 <p id ="demo1"></p>

<script>
  document.getElementById("dj").innerHTML="<h3>welcome</h3>"
  // document.write(5+6)
  // // window.alert(7+9)
  console.log(8+9)
let a=10;
let b=20;
console.log(a+b)
let x,y,z;
x=10;
y=11;
z=x+y;
console.log(z)

function myfuctiom()
{
  document.getElementById("demo").innerHTML="hello welcome to javascript world";
  document.getElementById("demo1").innerHTML="hope your javasript journey would be great";
}





</script>

</body>
</html>