{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block css %}

<style>

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px 40px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.logo {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.logo span {
    color: #4facfe;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
}

label {
    font-weight: bold;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    border: none;
    color: white;
    border-radius: 5px;
}

.signup-link {
    text-align: center;
    margin-top: 15px;
}

</style>

{% endblock %}

{% block content %}

<div class="container">

    <div class="logo">
        <span data-translate>Shoes Hub</span>
    </div>

    <div class="subtitle">
        <b data-translate>Login to your account</b>
    </div>

    <p id="success" style="color:green; text-align:center;"></p>
    <p id="error" style="color:red; text-align:center;"></p>

    <form method="POST">
        {% csrf_token %}

        <label data-translate>Username</label>
        <input type="text" name="username" placeholder="Enter username">

        <label data-translate>Password</label>
        <input type="password" name="password" placeholder="Enter password">

        <button type="submit" data-translate>
            Login
        </button>
    </form>

    <div class="signup-link">
        <span data-translate>Don't have an account?</span>

        <a href="{% url 'signup' %}">
            <span data-translate>Signup</span>
        </a>
    </div>

</div>

{% endblock %}

{% block js %}

<script>

document.querySelector("form").addEventListener('submit', function(e){

    e.preventDefault()

    let username=document.querySelector('input[name="username"]').value
    let password=document.querySelector('input[name="password"]').value

    fetch("http://127.0.0.1:8001/account/login/api/",
    {
        method:'POST',
        headers:{"Content-Type":"application/json"},
        body:JSON.stringify({
            username:username,
            password:password
        })
    })

    .then(response => response.json())

    .then(function(data){

        if(data.message){

            document.querySelector("#success").innerText=data.message
            window.location.href="/account/dashboard/"
        }

        else if(data.error){

            document.querySelector("#error").innerText=data.error
        }

    })

})

</script>

{% endblock %}