<!DOCTYPE html>
<html>
<head>
    <title>Products - General Mart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark px-4">
    <span class="navbar-brand">🛒 GeneraL Mart</span>
    <div>
        <a href="{% url 'dashboard' %}"
        class="btn btn-outline-light btn-sm me-2">
            Dashboard
        </a>
        <a href="{% url 'cart' %}"
        class="btn btn-outline-light btn-sm">
            Wishlist
        </a>
    </div>
</nav>
<br>
<!-- <p id ="success" style="color:green; text-align: center;"></p> -->
<div class="container mt-4">
    <h2 class="mb-4">Products</h2>
    <div class="row" id="product-list"></div>
</div>
</body>
<script>
    window.addEventListener("DOMContentLoaded",function(){  
        fetch("http://127.0.0.1:8000/account/product/api/",
            {
                method:"GET",
                credentials:"include"
            })
            .then(function(response){
            return response.json()
            })
           .then (function(data){
           
            let container=document.querySelector("#product-list");
            container.innerHTML="";
            data.data.forEach(function(product){
                let card=`
                <div class="col-md-3 mb-4">
                <div class="card shadow">

                    <img src="${product.image}"
                         class="card-img-top"
                         height="200"
                         style="object-fit:cover;">

                    <div class="card-body">

                        <h5 class="card-title">
                            ${product.name}
                        </h5>

                        <p class="text-success fw-bold">
                            ₹${product.price}
                        </p>

                        <p class="text-muted">
                            Stock: ${product.stock}
                        </p>

                        <button onclick="addToCart(${product.id})"
                                class="btn btn-primary w-100">
                                Add to Cart 🛒
                        </button>
                        
                        <br>

                        <p id="success-${product.id}"
                            style="color:green; text-align:center;">
                        </p
                    </div>

                </div>
            </div>
            `;

            container.innerHTML += card;
            })
               
        
        
        })
      

     })

    async function addToCart(productId) {
        let response = await fetch(
            "http://127.0.0.1:8000/account/cart/api/",
            {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            credentials: "include",
            body: JSON.stringify({product: productId,quantity: 1})}
        );
        let data = await response.json();
        console.log(data);
        document.getElementById(`success-${productId}`).innerText ="Added to Cart ";

    }



</script>

</html>